<%- include('header'); %>

<%
	var hasTrip = false;
	for (var pattern in patterns) if (patterns[pattern].trips.length > 0) hasTrip = true;
%>

<h3>Summary</h3>

<% if(hasTrip){ %>

	<table class="table">
		<tr style="background-color: #ccc;">
			<th>Run Nos.</th>
			<th>Type</th>
			<th>Start At</th>
			<th>Start Time</th>
			<th>End At</th>
			<th>End Time</th>
			<th>No of Trips#</th>
			<th>Distance#</th>
			<th>+ve#</th>
			<th>-ve#</th>
		</tr>
		<% for (var i in summary.runNos){ var runNo = summary.runNos[i]; %>
		<tr>
			<td style="background-color: #ccc;"><%= runNo %></td>
			<td><%= summary.byRunNo[runNo].runType %></td>
			<td>
				<%= summary.byRunNo[runNo].beginStopName %>
				<%= (summary.byRunNo[runNo].beginTrack == "0") ? "" : " [" + summary.byRunNo[runNo].beginTrack + "]" %>
			</td>
			<td><%= summary.byRunNo[runNo].beginTime.slice(0, -4) %></td>
			<td>
				<%= summary.byRunNo[runNo].terminateStopName %>
				<%= (summary.byRunNo[runNo].terminateTrack == "0") ? "" : " [" + summary.byRunNo[runNo].terminateTrack + "]" %>
			</td>
			<td><%= summary.byRunNo[runNo].terminateTime.slice(0, -4) %></td>
			<td><%= summary.byRunNo[runNo].noOfTrips %></td>
			<td><%= summary.byRunNo[runNo].distance.toFixed(1) %> km</td>
			<td><%= summary.byRunNo[runNo].distance_p.toFixed(1) %> km</td>
			<td><%= summary.byRunNo[runNo].distance_n.toFixed(1) %> km</td>
		</tr>
		<% } %>
		<tr style="background-color: #ccc;">
			<th>Run Type</th>
			<th colspan="5"></th>
			<th>No of Trips#</th>
			<th>Distance#</th>
			<th>+ve#</th>
			<th>-ve#</th>
		</tr>
		<% for (var i in summary.runTypes){ var runType = summary.runTypes[i]; %>
		<tr>
			<td style="background-color: #ccc;"><%= runType %></td>
			<td colspan="5"></td>
			<td><%= summary.byRunType[runType].noOfTrips %></td>
			<td><%= summary.byRunType[runType].distance.toFixed(1) %> km</td>
			<td><%= summary.byRunType[runType].distance_p.toFixed(1) %> km</td>
			<td><%= summary.byRunType[runType].distance_n.toFixed(1) %> km</td>
		</tr>
		<% } %>
	</table>
	<p>(# For revenue service only)</p>

<% }else{ %>

	<p>Not applicable.</p>

<% } %>

<% for (var pattern in patterns){ %>

	<h3><%= pattern %></h3>
	<ul>
		<li><strong><%= (isPH == "ph") ? "Saturdays &nbsp; Public Holidays" : "Weekdays (Monday - Friday)" %></strong></li>
		<li><strong>Label: </strong><%= patterns[pattern].label %></li>
		<li><strong>Remarks: </strong><%= patterns[pattern].remarks %></li>
	</ul>

	<% if (patterns[pattern].trips.length == 0){ %>
	<p>No service on this day.</p>
	<% }else{ %>

	<table class="table">
		<!-- Trip No -->
		<tr style="background-color: #ccc;">
			<th>Trip No.</th>
			<% for (var i in patterns[pattern].trips){ %>
			<td colspan="2"><%= patterns[pattern].trips[i].tripNo %></td>
			<% } %>
			<th>Trip No.</th>
		</tr>
		<!-- Ref No -->
		<tr style="background-color: #ccc;">
			<th>Ref. No.</th>
			<% for (var i in patterns[pattern].trips){ %>
			<td colspan="2"><%= patterns[pattern].trips[i].refNo %></td>
			<% } %>
			<th>Ref. No.</th>
		</tr>
		<!-- Run No -->
		<tr style="background-color: #ccc;">
			<th>Run No.</th>
			<% for (var i in patterns[pattern].trips){ %>
			<td colspan="2"><%= patterns[pattern].trips[i].runNo %></td>
			<% } %>
			<th>Run No.</th>
		</tr>
		<!-- Consist -->
		<tr style="background-color: #ccc;">
			<th>Consist</th>
			<% for (var i in patterns[pattern].trips){ %>
			<td colspan="2">[<%= patterns[pattern].trips[i].consist %>]</td>
			<% } %>
			<th>Consist</th>
		</tr>
		<!-- Run Type -->
		<tr style="background-color: #ccc;">
			<th>Run Type</th>
			<% for (var i in patterns[pattern].trips){ %>
			<td colspan="2" style="font-size: 80%;"><%= patterns[pattern].trips[i].runType %></td>
			<% } %>
			<th>Run Type</th>
		</tr>
		<!-- Ref Time -->
		<tr style="background-color: #ccc;">
			<th>Ref Time</th>
			<% for (var i in patterns[pattern].trips){ %>
			<td colspan="2" style="font-size: 80%;">
				<%
				if (typeof patterns[pattern].trips[i].refTime != "undefined"){
					var s = [];
					for (var line in patterns[pattern].trips[i].refTime){
						s.push(line + " " + patterns[pattern].trips[i].refTime[line].toFixed(3));
					}
					%><%- s.join("<br/>") %><%
				}
				%>
			</td>
			<% } %>
			<th>Consist</th>
		</tr>
		<!-- Train Type -->
		<tr style="background-color: #ccc;">
			<th>Train Type</th>
			<% for (var i in patterns[pattern].trips){ %>
				<%
				var trainType = patterns[pattern].trips[i].trainType;
				%>
				<% if (trainType != "#"){ %>
					<%
					var trainType_name = train_types[trainType].name;
					var trainType_color_bg = train_types[trainType].color.bg;
					var trainType_color_text = train_types[trainType].color.text;
					%>
					<td colspan="2" style="background-color: <%= trainType_color_bg %>; color: <%= trainType_color_text %>;">
					<strong><%= trainType_name %></strong>
					</td>
				<% }else{ %>
					<td colspan="2"><strong>(回送)</strong></td>
				<% } %>

			<% } %>
			<th>Train Type</th>
		</tr>
		
		<!-- Stops -->
		<% for (var j in patterns[pattern].stops){ if(patterns[pattern].stops[j].code != ""){ %>
		<tr>
			<th><%= patterns[pattern].stops[j].name %></th>
				<% for (var i in patterns[pattern].trips){ %>
					<% 
					var beginIndex = patterns[pattern].trips[i].beginIndex;
					var terminateIndex = patterns[pattern].trips[i].terminateIndex;
					var stop = patterns[pattern].stops[j].code;
					%>
					<% if (j < beginIndex || terminateIndex < j){ %>
						<td colspan="2"></td>
					<% }else{ %>
						<% 
							var index = j - beginIndex;
							if (typeof patterns[pattern].trips[i].timetable[index].arrive == 'undefined'){
								var arrive = "";
							}else{
								var arrive = patterns[pattern].trips[i].timetable[index].arrive;
								arrive = arrive.substring(0, arrive.length - 4);
							}
							if (typeof patterns[pattern].trips[i].timetable[index].depart == 'undefined'){
								var depart = "";
							}else{
								var depart = patterns[pattern].trips[i].timetable[index].depart;
								depart = depart.substring(0, depart.length - 4);
							}
							if (typeof patterns[pattern].trips[i].timetable[index].pass == 'undefined'){
								var pass = "";
							}else{
								var pass = patterns[pattern].trips[i].timetable[index].pass;
								pass = pass.substring(0, pass.length - 4);
							}
							var track = patterns[pattern].trips[i].timetable[index].track;
						%>
						<% if (pass != ""){ %>
							<td style="color: #ccc;"><small><%= track %></small></td>
							<td>↓</td>
						<% }else if (depart == "" && arrive == ""){ %>
							<td></td>
							<td>:</td>
						<% }else if (typeof showArrivals[stop] == "undefined"){ %>
							<% if (depart == ""){ %>
								<td style="color: #666;"><small><%= track %></small></td>
								<td class="gothic"><%= arrive %></td>
							<% }else{ %>
								<td style="color: #666;"><small><%= track %></small></td>
								<td class="gothic"><strong><%= depart %></strong></td>
							<% } %>
						<% }else{ %>
							<% if (depart == ""){ %>
								<td style="color: #666;"><small><%= track %></small></td>
								<td class="gothic"><%= arrive %><br/>&nbsp;</td>
							<% }else if (arrive == ""){ %>
								<td style="color: #666;"><small><%= track %></small></td>
								<td class="gothic">&nbsp;<br/><strong><%= depart %></strong></td>
							<% }else{ %>
								<td style="color: #666;"><small><%= track %></small></td>
								<td class="gothic"><%= arrive %><br/><strong><%= depart %></strong></td>
							<% } %>
						<% } %>
					<% } %>
				<% } %>
			<th><%= patterns[pattern].stops[j].name %></th>
		</tr>
		<% }} %>

		<!-- Distance -->
		<tr style="background-color: #ccc;">
			<th>Distance</th>
			<% for (var i in patterns[pattern].trips){ %>
			<td colspan="2"><%= patterns[pattern].trips[i].distance.toFixed(1) %></td>
			<% } %>
			<th>Distance</th>
		</tr>
		<!-- Travel Time -->
		<tr style="background-color: #ccc;">
			<th>Travel Time</th>
			<% for (var i in patterns[pattern].trips){ %>
			<td colspan="2"><%= patterns[pattern].trips[i].travelTime %></td>
			<% } %>
			<th>Travel Time</th>
		</tr>
		<!-- Avg Speed -->
		<tr style="background-color: #ccc;">
			<th>Avg Speed</th>
			<% for (var i in patterns[pattern].trips){ %>
			<td colspan="2"><%= patterns[pattern].trips[i].avgSpeed %></td>
			<% } %>
			<th>Avg Speed</th>
		</tr>
	</table>
	<p>(distance in [km], average speed in [km/h])</p>

	<% } %>

<% } %>
	
<%- include('footer'); %>